html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;  /* Make sure the container spans full width */
    height: 100%; /* Ensure the container fills the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown {
    font-size: 10em;
    font-weight: bold;
    text-align: center;
}

.number {
    font-size: 1.5em; /* Larger numbers */
}

.label {
    font-size: 0.5em; /* Smaller labels */
}
